<ion-view title="Your collection">
	<div class="bar bar-header bar-positive">
	  <h1 class="title">Stylita</h1>
	</div>
	<div class="bar bar-subheader bar-energized">
	  <h1 class="title">Your Collection</h1>
	</div>
	<ion-content start-y="200">
	    <ul class="list">
		    <li class="item">
		    	<img src="http://images.hhbrown.com/born/Pair/M6630-130xauto.jpg">
		    </li>

		    <li class="item">
		    	<img src="http://images.hhbrown.com/born/Pair/H46005-130xauto.jpg">
		    </li>

		    <li class="item">
		    	<img src="http://images.hhbrown.com/born/Pair/H07123-130xauto.jpg">
		    </li>

		    <li class="item">
		    	<img src="http://images.hhbrown.com/born/Pair/H46008-130xauto.jpg">
		    </li>
		</ul>
	</ion-content>
</ion-view>