
<ion-view title="Home">
  <ion-content class="has-header">
    <!-- Display current location's weather data-->
    <h3>{{city}}</h3>
    <h5><weather-icon icon="current.icon" id="current-icon"></weather-icon> {{current.currently.summary}}</h5>
    <p>The temperature now is</p>  
  <span class="large">{{testjson}}</span>
  <span class="large">{{message}} ° </span>

  <div style="display:block" id="shoe1"></div>
   <div style="display:block" id="shoe2"></div>
    <div style="display:block" id="shoe3"></div>
     <div style="display:block" id="shoe4"></div>


  <button id="like_button_test">like</button>
  <button id="add_button_test">create</button>

  <script>

  $('#like_button_test').click(function() {
    $.ajax({
      url: 'http://localhost:3000/api/shoes/1/inc_likes.json?',
      type: 'GET',
      dataType : 'jsonp',
      success: function(data) {
        if (data == "success") {
          alert('request sent!');
        }
      }
    });
  });

  $('#add_button_test').click(function() {
    $.ajax({
      url: 'http://localhost:3000/api/shoes.json?',
      type: 'POST',
      dataType : 'jsonp',
      data : {
        'shoe_id' : 999,
        },
      success: function(data) {
        if (data == "success") {
          alert('request sent!');
        }
      }
    });
  });
  </script>


  <div id="imagediv"></div>
  </ion-content>
</ion-view>